body {
    background-color: rgb(9,48,15);
    padding: 1em;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#wrapper {
    width: 1165px;
    margin: auto;
}

@media screen and (max-width: 1165px) {
    .wrapper {
        width: 100%;
    }
}

/* Header style */
header {
    box-sizing: border-box;
    display: block;
    background-color: khaki;
    padding: 0.5em;
    height: 150px;
    margin: 0.5em;
    border-radius: 1em;
}

header div#logo {
    width: 200px;
    float: left;
    margin: 30px;  
}


header>div#login-form {
    background-color: gray;
    opacity: 0.95;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    left:0;
    top:0;
}
header>div>div#login-content{
    height: 490px;
    width: 420px;
    top:20%;
    left:35%;
    position: absolute;
    background-color: white;
    border-radius: 1em;
}
header>div>div#reg-content{
    height: 490px;
    width: 420px;
    top:20%;
    
    left:35%;
    position: absolute;
    z-index: 1;

    background-color: white;
    border-radius: 1em;
}
header>div#reg-form {
    background-color: gray;
    opacity: 0.97;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
}
.closeIcon{
    width:25px;
    float: right;
    margin: 1em;
}
.form-Content{
    padding-top:40px;
    padding-left:25%;
}
.form-Heading{
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 2em;
    padding-bottom: 12px;
    font-family:'Raleway',sans-serif
    
}
.form-Content> input[type=text], input[type=password]{
    padding: 12px;
    margin-top: 6px;
    width: 200px;
    height: 25px;
}
.form-Content> input[type=checkbox]{
    margin-top: 20px;
    margin-bottom: 20px;
}
#enetr-accout{
    border: none;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    width: 228px;
    margin-top: 6px;
    height: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 10px 10px 5px #888888;

}

#facebook-logo {
    width: 30px;
}

header nav ul li:hover {
    background-color:rgb(9,48,15);
    color: whitesmoke;
    border-radius: 2em;
}

header nav ul>li {
    display: inline-block;
    width: 13%;
    font-size: 1.5em;
    text-align: center;
    box-sizing: border-box;
    margin-top: 30px;
    border-bottom: 2px solid green;
    border-top: 2px solid green;
}
header nav ul>li:last-child {
    display: none;
}

/* Main style */
main {
    box-sizing: border-box;
    display: inline-block;
    background-color: khaki;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    width: 100%;
}
#lastWeek{
    width:100%;
    height: 300px;
    /* z-index: -1; */
    
}
.slide{
    background-color: lightblue;
    display: block;
    position: absolute;
    width: 60%;
    height: 240px;
}
.slide img{
    height: 240px;
    width: 100%;

    
}
#whole_week{
    height: 600px;
   overflow: hidden;
}
.today-menu{
    height: 250px;
}
.today-menu:nth-child(odd) .nesthoVremennoZaSnimka{
    float: left;
}
.today-menu:nth-child(even) .nesthoVremennoZaSnimka{
    float: right;
}

#findRecipe{
    display: none;
}

.food{
    width: 25%;
    float: left;
}
#recipes{
    display: none;
}
.food img{
    width:150px;
    height: 200px;
}
.tursacha-kategoriq{
    display: none;
}
#razshireni-neshta{
    /* display: none; */
}
#razshireni-neshta>div{
    display: inline-block;
}
.tursacha-kategoriq{
    /* display: none; */
}

/* footer styling */
#footer {
    display: block;
    background-color: khaki;
    padding: 0.5em;
    border-radius: 1em;
    box-sizing: border-box;
}

/* newsletter */
.newsletter-title {
    text-align: center;
    font-family: 'Podkova', serif;
    font-size: 2.5em;
}
.newsletter-input{
    border-radius: 1em;
    width: 300px;
    height: 30px;
    font-family: 'Podkova', serif;
    font-size: 1em;
}
.newsletter-input:hover {
    background-color: lightgoldenrodyellow;
}
.newsletter-submit-button {
    border-radius: 1em;
    height: 30px;
    margin-left: 1em;
    font-family: 'Podkova', serif;
    font-size: 1em;
    background-color: gray;
    font-weight: bold;
}
#newsletter-input-and-submit{
    display: block;
    width: 40%;
    margin: auto;
}
.custom-checkbox {
    display: block;
    width: 40%;
    margin: auto;
    margin-bottom: 2em;
}
/* social media icons */
.icon-contact {
    position: relative;
 }
 .icon-contact ul li{  
    list-style-type: none;   
    display: table-cell;
    padding: 8px;
 }
 .icon-contact ul {   
     display: table;
     table-layout: fixed;
 }
 .icon-contact ul li a{
     position: relative;
     text-align: center;
     display: block;
     font-size: 30px;
     width: 50px;
     height: 50px;
     line-height: 50px;
     background-color:#fff;
     transition:.5s;
     -webkit-transition:.5s;
     -moz-transition:.5s;
     -o-transition:.5s;
     border-radius: 50%;
     border:3px solid #fff;
     overflow: hidden;
     z-index: 1;
 }
 .icon-contact ul li a .fa{
     color: #262626;
     position: relative;
     transition:.5s;
     -webkit-transition:.5s;
     -moz-transition:.5s;
     -o-transition:.5s;
     -webkit-transition:.5s;
     -moz-transition:.5s;
     -o-transition:.5s;
     z-index: 3;
 }
 .icon-contact ul li a:hover .fa{
     color:#fff;
     transform: rotateY(360deg);
     -webkit-transform: rotateY(360deg);
     -moz-transform: rotateY(360deg);
     -o-transform: rotateY(360deg);
     cursor: pointer;
 }
 .icon-contact ul li a:before{
     content: "";
     position: absolute;
     top: 0%;
     right: 100%;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background-color:tomato;
     transition:.5s;
     -webkit-transition:.5s;
     -moz-transition:.5s;
     -o-transition:.5s;
     z-index:2;
     transform: scale(0);
     -webkit-transform: scale(0);
     -moz-transform: scale(0);
     -o-transform: scale(0);
 }
 .icon-contact ul li a:hover:before{
     right:0%;
     transform: scale(1);
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
     -o-transform: scale(1);
     
 }
 .icon-contact ul li:nth-child(1) a:before{
     background-color:#3b5999;
 }
 .icon-contact ul li:nth-child(2) a:before{
     background-color:#dd4b39;
 }
 .icon-contact ul li:nth-child(3) a:before{
     background:-webkit-radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
 }
 .icon-contact ul li:nth-child(4) a:before{
     background-color:#53ABEE;
 }
 
 .icon-contact ul li:nth-child(5) a:before{
     background-color:#007bb5;
 } 
 #icons-footer ul {
     display: block;
     width: 37%;
     margin: auto;
 }

 .footer-logo-image, .copyright {
     display: block;
     margin: auto;
     text-align: center;
     font-family: 'Podkova', serif;
     font-size: 1em; 
 }