body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}


@media screen and (max-width: 1165px) {
    .wrapper {
        width: 100%;
    }
}

/* Header style */
header{
    box-sizing: border-box;
    width:100%;
    height:80px;
    background-color: rgba(221, 218, 218,0.9);
    position: fixed;
    z-index: 1;
}
header>div , nav{
    float: left;
   
    
    
}
header>nav>ul{
    box-sizing: border-box;
}
header>nav>ul>li{
    display: inline-block;
    text-transform: uppercase;
    color: rgba(23, 26, 27,0.6);
    font-size:1.4em;
    font-weight: 700;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0.7em;
    padding-bottom: 0.9em;
    border-right: 0.1em solid white;
    
}
header>nav>ul>li:last-child{
    display: inline-block;
    text-transform: uppercase;
    color: rgba(23, 26, 27,0.6);
    font-size:1.4em;
    font-weight: 700;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    border-right: 0.1em hidden white;
    display: none;
    
}
#forms>ul>li{
    display: inline-block;
    text-transform: uppercase;
    color: rgba(23, 26, 27,0.6);
    font-size:1.4em;
    font-weight: 700;
}
#forms{
    float: right;
    height: 100%;
    top:37%;
    position: relative;
}
header>nav{
    left:5%;
    position: relative;
    top:10%;    
    width: 50%;
}
#logo{
    width:100px;
    height: 100px;
    padding-left: 2em;
   
}

header>div#login-form {
    background-color: gray;
    opacity: 0.95;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    left:0;
    top:0;
}
header>div>div#login-content{
    height: 490px;
    width: 420px;
    top:20%;
    left:35%;
    position: absolute;
    background-color: white;
    border-radius: 1em;
}
header>div>div#reg-content{
    height: 490px;
    width: 420px;
    top:20%;
    
    left:35%;
    position: absolute;
    z-index: 1;

    background-color: white;
    border-radius: 1em;
}
header>div#reg-form {
    background-color: gray;
    opacity: 0.97;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
}
.closeIcon{
    width:25px;
    float: right;
    margin: 1em;
}
.form-Content{
    padding-top:40px;
    padding-left:25%;
}
.form-Heading{
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 2em;
    padding-bottom: 12px;
    font-family:'Raleway',sans-serif
    
}
.form-Content> input[type=text], input[type=password]{
    padding: 12px;
    margin-top: 6px;
    width: 200px;
    height: 25px;
}
.form-Content> input[type=checkbox]{
    margin-top: 20px;
    margin-bottom: 20px;
}
#enetr-accout{
    border: none;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    width: 228px;
    margin-top: 6px;
    height: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 10px 10px 5px #888888;

}



/* Main style */
main {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}
#lastWeek{
    float: left;
    width:100%;
    height: 700px;
    margin-top: 100px;
}
#lastWeek-img{
    width:65%;
    display: inline-block;
    text-align: center;
    height: 700px
}
#lastWeek-recipes{
    display: inline-block;
    height: 700px;
    padding-left: 5%;
    padding-top: 4em;   
}
.recipeslide>ul>li{
    list-style-type: none;   
}
.recipeslide{
    display: none;
    position: absolute;
}
.recipeslide:first-child{
    display: block;
}

#lastWeek-recipes>h2{
    padding-top: 3em;
}
.slide{
    display: block;
    position: absolute;
    width: 50%;
    top:15%;
    left:17%;
}
.slide img{
    height: 600px;
    width: 100%;
}
#whole_week{
   margin-left: 15%;
   margin-right: 15%;
}
.menu{
    height: 300px;
    width:200px;
    display: inline-block;
    padding-right: 9%;
    padding-left: 3%;
}
.menu-img>img{
    width:300px; 
    height:300px;
}
.menu-description{
    text-align: center;
}

.today-menu:nth-child(odd) .nesthoVremennoZaSnimka{
    float: left;
}
.today-menu:nth-child(even) .nesthoVremennoZaSnimka{
    float: right;
}

#findRecipe{
    display: none;
}

.food{
    width: 25%;
    float: left;
}
#recipes{
    display: none;
}
.food img{
    width:150px;
    height: 200px;
}
.tursacha-kategoriq{
    display:none;
}
#razshireni-neshta{
/* display:none;*/
}
#razshireni-neshta>div{
    display:inline-block;
}
.tursacha-kategoriq{
    /*display:none;*/
}

/* footer styling */
#footer {
    display: block;
    padding: 0.5em;
    border-radius: 1em;
    box-sizing: border-box;
    background-color: rgb(221, 218, 218);
}

/* newsletter */
.newsletter-title {
    text-align: center;
    font-family: 'Podkova', serif;
    font-size: 2.5em;
}
.newsletter-input{
    border-radius: 1em;
    width: 300px;
    height: 30px;
    font-family: 'Podkova', serif;
    font-size: 1em;
}
.newsletter-input:hover {
    background-color: lightgoldenrodyellow;
}
.newsletter-submit-button {
    border-radius: 1em;
    height: 30px;
    margin-left: 1em;
    font-family: 'Podkova', serif;
    font-size: 1em;
    background-color: gray;
    font-weight: bold;
}
#newsletter-input-and-submit{
    display: block;
    width: 40%;
    margin: auto;
}
.custom-checkbox {
    display: block;
    width: 40%;
    margin: auto;
    margin-bottom: 2em;
}
/* social media icons */
.icon-contact {
    position: relative;
 }
 .icon-contact ul li{  
    list-style-type: none;   
    display: table-cell;
    padding: 8px;
 }
 .icon-contact ul {   
     display: table;
     table-layout: fixed;
 }
 .icon-contact ul li a{
     position: relative;
     text-align: center;
     display: block;
     font-size: 30px;
     width: 50px;
     height: 50px;
     line-height: 50px;
     background-color:#fff;
     transition:.5s;
     -webkit-transition:.5s;
     -moz-transition:.5s;
     -o-transition:.5s;
     border-radius: 50%;
     border:3px solid #fff;
     overflow: hidden;
     z-index: 1;
 }
 .icon-contact ul li a .fa{
     color: #262626;
     position: relative;
     transition:.5s;
     -webkit-transition:.5s;
     -moz-transition:.5s;
     -o-transition:.5s;
     -webkit-transition:.5s;
     -moz-transition:.5s;
     -o-transition:.5s;
     z-index: 3;
 }
 .icon-contact ul li a:hover .fa{
     color:#fff;
     transform: rotateY(360deg);
     -webkit-transform: rotateY(360deg);
     -moz-transform: rotateY(360deg);
     -o-transform: rotateY(360deg);
     cursor: pointer;
 }
 .icon-contact ul li a:before{
     content: "";
     position: absolute;
     top: 0%;
     right: 100%;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background-color:tomato;
     transition:.5s;
     -webkit-transition:.5s;
     -moz-transition:.5s;
     -o-transition:.5s;
     z-index:2;
     transform: scale(0);
     -webkit-transform: scale(0);
     -moz-transform: scale(0);
     -o-transform: scale(0);
 }
 .icon-contact ul li a:hover:before{
     right:0%;
     transform: scale(1);
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
     -o-transform: scale(1);
     
 }
 .icon-contact ul li:nth-child(1) a:before{
     background-color:#3b5999;
 }
 .icon-contact ul li:nth-child(2) a:before{
     background-color:#dd4b39;
 }
 .icon-contact ul li:nth-child(3) a:before{
     background:-webkit-radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
 }
 .icon-contact ul li:nth-child(4) a:before{
     background-color:#53ABEE;
 }
 
 .icon-contact ul li:nth-child(5) a:before{
     background-color:#007bb5;
 } 
 #icons-footer ul {
     display: block;
     width: 37%;
     margin: auto;
 }

 .footer-logo-image, .copyright {
     display: block;
     margin: auto;
     text-align: center;
     font-family: 'Podkova', serif;
     font-size: 1em; 
 }